@model HomeDetailsViewModel
<h1> @Model.PageTitle</h1>
@{
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "background2.jpg");
}

<div class="card col-md-3" style="width: 18rem;">
    <img class="card-img-top" src="@photoPath" alt="Card image cap" asp-append-version="true">
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Employee.Name</h5>
        <p class="card-text">mail: @Model.Employee.Email <br /> Department: @Model.Employee.Department</p>
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
        <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-success">Edit</a>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/CustomScript.js"></script>
}
