@model IEnumerable<Employee>


<div class="row">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.PhotoPath ?? "background2.jpg");
        <div class="card col-md-3" style="width: 18rem;">
            <img class="card-img-top" src="@photoPath" alt="Card image cap" asp-append-version="true">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="home" asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                @*<a href="@Url.Action("details","home", new { id = item.Id })">View</a>
                    @Html.ActionLink("view", "details", "home", new { id = item.Id })
                    <a href="~/Home/Details/@item.Id" class="btn btn-primary">View</a>*@
                <a asp-action="edit" asp-controller="home" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
    }
</div>



